/* colors
            Main Bar - #382C42;
            Border Bar - #463353;
            Background - #f2f2f2;
            Hover - #c5c5c5;
            POI - #3f3f3f;

        */
:root {
    --mouseX: 0px;
}

.projectbutton {
    background-size: cover;
    margin: 20px;
    width: 24%;
    aspect-ratio: 1/1;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 3s;
}

.projectbutton:hover {
    background-color: #c5c5c5;
}

.hovercontent {
    width: 30%;
    aspect-ratio: 4/3;
    position: fixed;
    visibility: hidden;
    background-color: #c5c5c5;
    left: var(--mouseX);
    top: var(--mouseY);
    font-family: 'RobertoSansRegular', Arial;
    z-index: 2;
}

.hovercontent-bar {
    background-color: #382C42;
    font-size: 35px;
    color: #f2f2f2;
    font-family: 'RobertoSansRegular', Arial;
    text-align: center;
    border-bottom: 10px solid #463353;
}

div.hovercontent-image {
    width: 100%;
    aspect-ratio: 4/2;
    background-image: url(https://pbs.twimg.com/profile_images/1126142758316584965/WDZ8Fp-h_400x400.png);
    background-size: cover;
}

div.hovercontent-points {
    width: 100%;
    /* aspect-ratio: 4/0.75; */
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #3f3f3f;
}
div.hoverpoint {
    width: 20%;
    display: inline-block;
    aspect-ratio: 0.9/0.9;
    background-color: #382C42;
    background-size: cover;
    /* border-radius: 50%; */
    margin-left: 2.5px;
    margin-right: 2.5px;
}

h1 {
    width: 80%;
    font-family: 'RobertoSansRegular', Arial;
    text-align: center;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 3s;
    animation-delay: -1s;
    margin: 40px 40px 40px 40px;
}

h2 {
    width: 90%;
}
