div.header {
    background-color: #382C42;
    padding: 30px;
    font-size: 35px;
    text-align: center;
}

div.headerfollow {
    background-color: #463353;
    padding-left: 30px;
    height: 25px;
    column-count: 3;
    font-size: 15px;
}

div.header, div.headerfollow {
    color: #f2f2f2;
    position: sticky;
    font-family: 'RobertoSansRegular', Arial;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 3s;
    animation-delay: -2s;
}

.gertrudebutton {
    background-image: url(https://pbs.twimg.com/profile_images/1126142758316584965/WDZ8Fp-h_400x400.png);
    background-size: cover;
    border-color: #f2f2f2;
    text-align: center;
    margin: 5px;
    width: 150px;
    height: 150px;
    padding: 10px;
}

ul.navigation {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: table;
    margin-left: auto;
    margin-right: auto;
    background-color: #f2f2f2;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 3s;
    animation-delay: -2s;
}

li.navigationlink, li.dropdownlink {
    float: left;
}

li.navigationlink a, li.dropdownlink a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    color: black;
    font-family: 'RobertoSansRegular', Arial;
    text-decoration: none;
}

li.navigationlink a:hover, li.dropdownlink:hover .dropbtn {
    background-color: #c5c5c5;
}

.dropdowncontent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdowncontent a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    color: black;
    font-family: 'RobertoSansRegular', Arial;
    text-decoration: none;
}

.dropdownlink:hover .dropdowncontent {
    display: block;
}

@-webkit-keyframes animatebottom {
    0% {
        bottom: -100px;
        opacity: 0
    }

    66% {
        bottom: -100px;
        opacity: 0
    }

    100% {
        bottom: 0;
        opacity: 1
    }
}

@keyframes animatebottom {
    0% {
        bottom: -100px;
        opacity: 0
    }

    66% {
        bottom: -100px;
        opacity: 0
    }

    100% {
        bottom: 0;
        opacity: 1
    }
}

iframe.projectvideo{
    width: 80%;
    aspect-ratio: 16/9;
}

h1 {
    width: 80%;
    font-family: 'RobertoSansRegular', Arial;
    font-size: 20px;
    text-align: center;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 3s;
    animation-delay: -1s;
    margin: 40px 40px 40px 40px;
}

h2 {
    width: 90%;
}

h3 {
    margin-top: 100px;
}

h4 {
    width: 80%;
    font-family: 'RobertoSansRegular', Arial;
    font-size: 17px;
    text-align: center;
    margin: 40px 40px 40px 40px;
}

body {
    margin: 0;
    background-color: #f2f2f2;
}